.welcome{
    height: 100vh;
    width: 100%;
   
   background: url('./assets/img/back.jpg');
   background-size: cover;
   background-position:center;
 
 background-repeat: no-repeat;
   padding: 30rem 0 30rem 0;
 
}

.welcome-text{
  font-family: 'Rouge Script', cursive;
  color: white;
  font-size:3.8rem;
  text-align: left;
  padding-left: 5rem;
}

.welcome h1{
    color: white;
    font-family: 'Marcellus', serif;
    word-spacing: -2px;
    text-align: left;
    padding-left: 4rem;
    font-size: 7.5rem;
    font-weight: lighter;
}

.welcome-paragraph{
    font-family: 'Marcellus', serif;
    color: white;
    font-size:2rem;
    width: 40ch;
    line-height: 3.5rem;
    text-align: left;
    padding-left: 5rem;

}


.button{
  text-decoration: none;
  background: transparent;
  border: 1px solid #C02323;
  position: absolute;
  left: 5rem;
  color: #fff;
  border-radius: 4px;
  margin-top: 5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Marcellus', serif;
  overflow: hidden;
}

.button::before, .button::after{
  content: "";
 
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -50%;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background-color: rgb(192, 35, 35);
}

.button:after{
  left: 100%;
}

.button:hover::before{
  left: 0;
}

.button:hover::after{
  left: 50%;
}

.button a{
  text-decoration: none;
  color: white;
  padding: 1.5rem 5rem;
  display: block;
  position: relative;
  z-index: 1;
}
.button a:active{
 
  color: rgb(100, 6, 6);
  transition: all ease-in-out .2s;
}