.welcome {
  height: 100vh;
  width: 100%;
  font-family: "BPG Mikheil Stefane", sans-serif;
  background: url("./assets/img/back.jpg");
  background-size: cover;
  background-position: center;

  background-repeat: no-repeat;
  padding: 40rem 0 40rem 0;
}

@media only screen and (max-height: 850px) {
  .welcome {
    height: 100vh;
    padding: 25rem 4rem 25rem 4rem;
  }
}
@media only screen and (max-width: 550px) {
  .welcome {
    padding: 10rem 2rem 10rem 2rem;
  }
}

@font-face {
  font-family: "BPG Mikheil Stefane", sans-serif;
  src: url("../../../src/font/css/bpg-irubaqidze.min.css");
}

.ka {
  font-size: 3.5rem;
  font-family: "BPG Irubaqidze", sans-serif;
  margin: auto;
}
.ka--big {
  font-size: 5.5rem;
  font-family: "BPG Irubaqidze", sans-serif;
  margin: 3rem 1rem;
}
.welcome-text {
  font-family: "Rouge Script", cursive;
  color: white;
  font-size: 3.8rem;
  text-align: left;
  padding-left: 5rem;
}
@media only screen and (max-height: 850px) {
  .welcome-text {
    padding: 0;
  }
}
.welcome h1 {
  color: white;
  font-family: "Marcellus", serif;
  word-spacing: -2px;
  text-align: left;
  padding-left: 4rem;
  font-size: 7.5rem;
  font-weight: lighter;
}
@media only screen and (max-height: 850px) {
  .welcome h1 {
    padding: 0;

    font-size: 5.5rem;
    margin: 2rem 0;
  }
}
@media only screen and (max-width: 550px) {
  .welcome h1 {
    padding: 0;
    font-weight: bolder;
    margin: 2rem 0;
  }
}
.welcome-paragraph {
  font-family: "Marcellus", serif;
  color: white;
  font-size: 2rem;
  width: 40ch;
  line-height: 3.5rem;
  text-align: left;
  padding-left: 5rem;
}
@media only screen and (max-height: 850px) {
  .welcome-paragraph {
    padding: 0;
  }
}
@media only screen and (max-width: 550px) {
  .welcome-paragraph {
    width: 100%;
  }
}
.button {
  text-decoration: none;
  background: transparent;
  border: 1px solid #c02323;
  position: absolute;
  left: 5rem;
  color: #fff;
  border-radius: 4px;
  margin-top: 5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Marcellus", serif;
  overflow: hidden;
  width: 15rem;
  height: 6rem;
  cursor: pointer;
  outline: none;
  transition: all ease-in-out 0.2s;
}
@media only screen and (max-height: 850px) {
  .button {
    left: 4rem;
  }
}
@media only screen and (max-width: 550px) {
  .button {
    left: 2rem;
    margin-top: 3rem;
  }
}
.button:active {
  color: rgb(46, 21, 21);
}
.button p {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
  z-index: 1;
}
.button::before,
.button::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -50%;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background-color: rgb(155, 44, 44);
  z-index: 0;
}

.button:after {
  left: 100%;
}

.button:hover::before {
  left: 0;
}

.button:hover::after {
  left: 50%;
}

.button a {
  text-decoration: none;
  color: white;
  padding: 1.5rem 5rem;
  display: block;
  position: relative;
  z-index: 1;
}
.button a:active {
  color: rgb(100, 6, 6);
  transition: all ease-in-out 0.2s;
}
