.about {
  height: 80vh;
  display: flex;
  width: 100%;
  padding: 11rem 4rem 2rem 4rem;
  background-color: #f9fafa;
}
@media only screen and (max-height: 850px) {
  .about {
    height: auto;
    padding-bottom: 5rem;
  }
}
@media only screen and (max-width: 650px) {
  .about {
    height: auto;
    padding-bottom: 5rem;
    flex-direction: column;
  }
}
.about-left {
  height: 80%;
  width: 50%;
}
@media only screen and (max-width: 650px) {
  .about-left img {
    width: 300px;
  }
}
.about-right {
  text-align: left;
  height: 80%;
  width: 50%;
  padding-left: 4rem;
}

@media only screen and (max-width: 650px) {
  .about-right {
    padding-left: 0;
    text-align: center;
    height: 80%;
    width: 100%;
  }
}
.about-text {
  font-family: "Rouge Script", cursive;
  color: #c02323;
  font-size: 3.5rem;
  text-align: left;
  padding-left: 5rem;
}
@media only screen and (max-width: 650px) {
  .about-text {
    padding-left: 0;
    text-align: center;
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
  }
}
.about h2 {
  margin-bottom: 1.5rem;
  font-family: "Marcellus", serif;
  word-spacing: -2px;
  text-align: left;
  padding-left: 5rem;
  padding-top: 1.5rem;
  font-size: 4rem;
  font-weight: lighter;
}
@media only screen and (max-width: 650px) {
  .about h2 {
    padding: 0;
    text-align: center;
  }
}
.about-paragraph {
  font-family: "Marcellus", serif;
  font-size: 1.6rem;
  width: 40ch;
  line-height: 3rem;

  padding-left: 5rem;
}
@media only screen and (max-width: 650px) {
  .about-paragraph {
    width: 100%;
    padding: 0;
    text-align: justify;
    margin-top: 3rem;
  }
}
.gray {
  font-family: "Marcellus", serif;
  color: #a7a7a7;
  font-size: 1.6rem;
  width: auto;
  height: auto;
  margin-left: 5rem;
  margin-top: 2rem;
}

@media only screen and (max-width: 650px) {
  .gray {
    margin: 3rem 0;
  }
}
