.option {
  z-index: 30000;
  transition: all linear 0.1s;
  font-size: 1.2rem;
  color: #911b01;
  border-radius: 1rem;
  border: 1px solid #fff;
  outline: none;
  padding: 0.5rem;
  background-color: transparent;
  position: absolute;
  right: 0;
}
