.option{
    position: fixed;
    top:2.6rem;
    right:2rem;
    z-index: 30000; 
     transition: all linear 0.1s;
     height: 2.5rem;
     color: #911B01;
     border-radius: 1rem;
     border: 1px solid #911B01;
     outline: none;
     padding: 0 .5rem;
 
}

