.nav {
  height: 11vh;
  width: 100%;
  background: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  transition: all linear 0.3s;
}
@media only screen and (max-width: 500px) {
  .nav {
    display: none;
  }
}

@font-face {
  font-family: "BPG Mikheil Stefane", sans-serif;
  src: url("../../../src/font/css/bpg-irubaqidze.min.css");
}
.ka-nav {
  font-size: 2.2rem;
  font-family: "BPG Irubaqidze", sans-serif;
  margin: auto;
}
.nav ul {
  font-family: "Marcellus", serif;
  list-style: none;
  font-size: 1.4rem;
  display: flex;

  text-transform: uppercase;
}
.nav ul li {
  margin: 4rem;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.nav ul li a {
  text-decoration: none;
  color: black;
}
.nav ul li:hover a {
  cursor: pointer;
  color: #c02323;
  transform: translateY(-1px);
}
.nav ul li:hover {
  margin: 4rem;
  cursor: pointer;
  color: #c02323;
  transform: translateY(-1px);
}

.nav img {
  position: absolute;
  left: 4rem;
  top: 3.5rem;
}
