.news {
  height: 90vh;
  width: auto;
  background: url("./assets/img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  padding: 0 2rem;
}
@media only screen and (max-height: 850px) {
  .news {
    height: 120vh;
  }
}
@media only screen and (max-width: 550px) {
  .news {
    height: auto;
    background: #3c1518;
  }
}

.event-wrapper {
  width: auto;
  height: 100%;
  justify-content: space-around;
}

@media only screen and (max-width: 550px) {
  .event-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
  }
}
.event-wrapper:nth-last-child() {
  display: none;
}

.event {
  width: 280px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.021);
  transition: all ease-in-out 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  border-radius: 2px;
  float: left;
  margin: 2rem;
}
@media only screen and (max-width: 550px) {
  .event {
    background-color: rgba(255, 255, 255, 0.555);
  }
}
.event:hover {
  background-color: #0f0807;
}

@media only screen and (max-width: 550px) {
  .event:hover {
    background: rgba(255, 255, 255, 0.856);
  }
}
.event a {
  color: #fff;
  text-decoration: none;
  font-size: 3rem;
  font-family: "Marcellus", serif;
  margin: 2rem;
  transition: all ease-in-out 0.2s;
}
.event:hover a {
  color: #cb3723;
}
.event h2 {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: lighter;
  font-family: "Libre Baskerville", serif;
  margin-top: 3rem;
}

.date-wrapper {
  width: 35%;
  height: 30%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.date-wrapper span {
  font-size: 4rem;
  font-family: "Marcellus", serif;
  color: #cb3723;
}
.date-wrapper p {
  font-size: 1.5rem;
  font-family: "Marcellus", serif;
}
