.contact {
  overflow: hidden;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.822);
  animation-name: opacity;
  animation-duration: 0.4s;
  animation-timing-function: linear;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contact-header {
  width: 100%;
  height: 10vh;
  background-color: #f2f4f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}
.contact-header h3 {
  font-family: "Marcellus", serif;
  font-size: 2rem;
}
.contact-content {
  width: 100%;

  overflow: hidden;
}
.contact-header a {
  text-decoration: none;
  font-size: 2rem;
  color: rgb(145, 141, 141);
  font-family: "Marcellus", serif;
  transition: all ease-in-out 0.3s;
}
.contact-header a:hover {
  color: #d57878;
}
.contact-content {
  width: 100%;
  height: 100%;
}
.contact-paragraph {
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  color: #595959;
  font-family: "Marcellus", serif;
  line-height: 4rem;
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-content-links {
  display: flex;
  justify-content: space-around;
  padding: 8rem;
  height: 80vh;
  align-items: center;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/images/wine.jpg");
}
@media only screen and (max-width: 550px) {
  .contact-content-links {
    height: auto;
    flex-direction: column;
    align-items: stretch;
    padding: 2rem;
  }
}
.contact-content-links-item {
  border: 1px solid #c02323;
  background-color: rgba(255, 255, 255, 0.9);

  height: 30rem;
  margin: 2rem;
  justify-content: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 550px) {
  .contact-content-links-item {
    flex: 1;
  }
}
.contact-content-links-item svg {
  margin-bottom: 2rem;
}

/* .image-container{
  background-size: cover;
  width: 100%;
  height:50rem;
   background-position: center center;
 
  background-image: url(./assets/images/valley.jpg);
} */
