.products {
  height: 90vh;
  width: 100%;
  padding: 0 2rem;
}
@media only screen and (max-height: 850px) {
  .products {
    height: auto;
    padding-bottom: 4rem;
  }
}
@media only screen and (max-width: 650px) {
  .products-image {
    padding: 0;
  }
}
.products-image {
  width: auto;
  height: auto;
  /*  border:2px solid gainsboro; */
  display: inline-block;
  text-align: center;
  padding: 2rem;
  position: relative;
}

.products-image::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -65px;
  width: 73px;
  height: 4px;
  background: url("./assets/img/glass.png");
}
.products-image::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -65px;
  width: 73px;
  height: 4px;
  background: url("./assets/img/glass.png");
}
.product-wrapper {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 650px) {
  .product-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.products-item {
  width: 25%;
  height: auto;
  background-color: #fff;
  padding: 4rem;
  margin: 0.5rem;
}
@media only screen and (max-width: 650px) {
  .products-item img {
    height: 30rem;
  }
}
@media only screen and (max-width: 650px) {
  .products-item {
    padding: 3rem 0;
    width: 70%;
  }
}

.product-name {
  font-family: "Marcellus", serif;
  word-spacing: -2px;
  text-align: center;
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
}

.product-button {
  align-self: center;
  text-decoration: none;
  background: transparent;
  border: 1px solid #c02323;
  color: #c02323;
  margin-top: 4rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Marcellus", serif;
  overflow: hidden;
  width: 20rem;
  height: 5rem;
  cursor: pointer;
  outline: none;
  transition: all ease-in-out 0.2s;
  position: relative;
}

.product-button::before,
.product-button::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -50%;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background-color: rgb(83, 24, 24);
  z-index: 0;
}

.product-button span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  z-index: 1;
  transition: all ease-in-out 0.2s;
}

.product-button:after {
  left: 100%;
}

.product-button:hover::before {
  left: 0;
}
.product-button:hover.product-button span {
  color: white;
}

.product-button:hover::after {
  left: 50%;
}
