.products{
    height: 90vh;
    width: 100%;
    padding: 0 2rem;
 
 
}

 

 .products-image{
     width: auto;
     height: auto;
    /*  border:2px solid gainsboro; */
     display: inline-block;
     text-align: center;
     padding: 2rem;
     position: relative;
  
 }
 

 .products-image::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -65px;
    width: 73px;
    height: 4px;
    background: url('./assets/img/glass.png');
}
 .products-image::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -65px;
    width: 73px;
    height: 4px;
    background: url('./assets/img/glass.png');
}
.product-wrapper{
    display: flex;
    justify-content: space-around;
}

.products-item{
    width:25%;
    height: auto;
   background-color: #fff;
    padding:4rem;
    margin: .5rem;
    transition: all ease  1s;
    border: 1px solid transparent;
}
.products-item:hover{
 
  box-shadow:1px 7px 15px rgba(0, 0, 0, 0.589);
 
}
.product-name{
    font-family: 'Marcellus', serif;
    word-spacing: -2px;
    text-align: center;
 
    font-size: 2rem;
    font-weight: lighter;

    text-align: center;
 
}