.newspage {
  min-height: 100vh;
  width: 100%;
  animation-name: opacity;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  overflow: hidden;
}
.newspage-content {
  width: 100%;
  height: 100%;
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.newspage-content h2 {
  margin: 2rem;
}
.newspage-content p {
  text-align: justify;
  font-size: 2rem;
}
.newspage-paragraph{  font-size: 2rem;}
.newspage-header {
  width: 100%;
  height: 10vh;
  background-color: #f2f4f5;

  padding: 0 4rem;

  justify-content: space-around;
}
 

.newspage-header-links h3 {
  font-family: "Marcellus", serif;
  font-size: 2rem;
}

.newspage-header-links {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}


.other-news{
  width: 100%;
  margin-top: 3rem;
  height:auto;
 
  
  bottom: 0;
 
}
.other-news-wrapper{
  width:100%;
  height: 300px;
  margin: 2rem 0;
  padding: 3rem 1rem;
 display: flex;
align-items: center;
 
 
}

.news-wrapper {
  width: 20rem;
  height:20rem;
  box-shadow: 0 .1rem .1rem rgba(72, 98, 85, 0.6);
  background-color: #fff;
  display: flex;
  margin: 0 .5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
}
.news-wrapper span {
  font-size: 4rem;
  font-family: "Marcellus", serif;
  color: #cb3723;
}
.news-wrapper p {
  font-size: 1.5rem;
  font-family: "Marcellus", serif;
}

.other-news-paragraph{
  font-size: 1.5rem;
  width: 70%;
 
  font-family: "Marcellus", serif;
  margin-left: 4rem;   
}